body {
    background-color: darkgrey;
}

#cell {
    width: 300px;
    height: 300px;
    background-color: #4486F8;
    float: left;
}
#controlBlock {
    width: 300px;
    height: 300px;
    background-color: chartreuse;
    float: left;

}

#inputButtonDiv {
    width: 540px;
    height: 560px;
    background-color: chartreuse;
    float: left;
}

.button {
    width: 50px;
    height: 50px;
    margin: 3px 2px;
    float: left;
}

.button:hover {
    background: yellow;
}

.button:active {
    background: orange;
}

.buttonActiveFix{
    background-color: orange;
}
.divActiveButton{
    width: 38px;
    height: 48px;
    background-color: orange;
    text-align: center;
    float: left;
    margin:   3px 2px 3px 2px;
    padding: 1px 6px;
    border-width: 2px;
    line-height: 50px;


}